<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Update employee position</h2>

    <form action="#" th:action="@{/update-position}" th:object="${employeePosition}" method="POST">

        <input type="number" th:field="*{id}" hidden="hidden">

        <div class="form-group">
            <input type="text" th:field="*{positionType}" placeholder="Employee Position Type"
                   class="form-control mb-4 col-4">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('positionType')}" th:errors="*{positionType}"></div>
        </div>

        <button type="submit" class="btn btn-info col-2">Update position</button>
    </form>

    <hr>

    <a th:href="@{/positions-list}"> Back to employee positions list</a>
</div>
</body>

</html>